Flujo de Node-RED.txt
[{"id":"57e8f34affb0be06","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"70b33af2045df4fb","type":"s7 out","z":"57e8f34affb0be06","endpoint":"ab1b0b4c.23e","variable":"M01","name":"M1","x":370,"y":60,"wires":[]},{"id":"32560340ba3243f4","type":"server-state-changed","z":"57e8f34affb0be06","name":"Luz Dormitorio principal","server":"191bffa.00401","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.luz_dormitorio_principal"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":140,"y":60,"wires":[["adb9c94c2c01805e","70b33af2045df4fb"]]},{"id":"adb9c94c2c01805e","type":"delay","z":"57e8f34affb0be06","name":"Delay 1","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":120,"wires":[["430df5808ca711f0"]]},{"id":"a0967113e1ada63b","type":"s7 out","z":"57e8f34affb0be06","endpoint":"ab1b0b4c.23e","variable":"M02","name":"M2","x":410,"y":180,"wires":[]},{"id":"84b543738133b3dc","type":"server-state-changed","z":"57e8f34affb0be06","name":"Luz Ba침o dormitorio principal","server":"191bffa.00401","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.luz_bano_dormitorio_principal"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":160,"y":180,"wires":[["6ddff647299ce50c","a0967113e1ada63b"]]},{"id":"6ddff647299ce50c","type":"delay","z":"57e8f34affb0be06","name":"Delay 1","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":240,"wires":[["b2117dd58a5bbb14"]]},{"id":"7b4d21a49404db42","type":"s7 out","z":"57e8f34affb0be06","endpoint":"ab1b0b4c.23e","variable":"M03","name":"","x":410,"y":460,"wires":[]},{"id":"3ebaf59915ac7f15","type":"s7 in","z":"57e8f34affb0be06","endpoint":"ab1b0b4c.23e","mode":"single","variable":"Q01","diff":true,"name":"","x":90,"y":300,"wires":[["87cd2aaa7c9c7074"]]},{"id":"fee90f474bcb36ac","type":"s7 in","z":"57e8f34affb0be06","endpoint":"ab1b0b4c.23e","mode":"single","variable":"Q02","diff":true,"name":"","x":90,"y":380,"wires":[["c8295e262d07283f"]]},{"id":"c8295e262d07283f","type":"api-call-service","z":"57e8f34affb0be06","name":"Estado luz Ba침o dormitorio principal","server":"191bffa.00401","version":7,"debugenabled":false,"action":"light.toggle","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.estado_luz_bano_dormitorio_principal"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"toggle","x":310,"y":380,"wires":[[]]},{"id":"046eff56c70df9bf","type":"server-state-changed","z":"57e8f34affb0be06","name":"V치lvula calefacci칩n dormitorio principal","server":"191bffa.00401","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["switch.interruptor"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"habool","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":190,"y":460,"wires":[["7b4d21a49404db42"]]},{"id":"87cd2aaa7c9c7074","type":"api-call-service","z":"57e8f34affb0be06","name":"Estado luz dormitorio principal","server":"191bffa.00401","version":7,"debugenabled":false,"action":"light.toggle","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.estado_luz_dormitorio_principal"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"toggle","x":290,"y":300,"wires":[[]]},{"id":"b2117dd58a5bbb14","type":"change","z":"57e8f34affb0be06","name":"true a false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":240,"wires":[["a0967113e1ada63b"]]},{"id":"430df5808ca711f0","type":"change","z":"57e8f34affb0be06","name":"true a false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":120,"wires":[["70b33af2045df4fb"]]},{"id":"ab1b0b4c.23e","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.10.252","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"02","remotetsaplo":"00","connmode":"tsap","adapter":"","busaddr":"","cycletime":"500","timeout":"1500","name":"S7-LOGO8","vartable":[{"addr":"DB1,X1064.0","name":"Q01"},{"addr":"DB1,X1064.1","name":"Q02"},{"addr":"DB1,X1064.2","name":"Q03"},{"addr":"DB1,X1064.3","name":"Q04"},{"addr":"DB1,X1064.4","name":"Q05"},{"addr":"DB1,X1064.5","name":"Q06"},{"addr":"DB1,X1064.6","name":"Q07"},{"addr":"DB1,X1064.7","name":"Q08"},{"addr":"DB1,X1065.0","name":"Q09"},{"addr":"DB1,X1065.1","name":"Q10"},{"addr":"DB1,X1065.2","name":"Q11"},{"addr":"DB1,X1065.3","name":"Q12"},{"addr":"DB1,X1065.4","name":"Q13"},{"addr":"DB1,X1065.5","name":"Q14"},{"addr":"DB1,X1065.6","name":"Q15"},{"addr":"DB1,X1065.7","name":"Q16"},{"addr":"DB1,X1066.0","name":"Q17"},{"addr":"DB1,X1066.1","name":"Q18"},{"addr":"DB1,X1066.2","name":"Q19"},{"addr":"DB1,X1066.3","name":"Q20"},{"addr":"DB1,X1024.0","name":"I01 AI03"},{"addr":"DB1,X1024.1","name":"I02 AI04"},{"addr":"DB1,X1024.2","name":"I03 High Freq"},{"addr":"DB1,X1024.3","name":"I04 High Freq"},{"addr":"DB1,X1024.4","name":"I05 High Freq"},{"addr":"DB1,X1024.5","name":"I06 High Freq"},{"addr":"DB1,X1024.6","name":"I07 AI01"},{"addr":"DB1,X1024.7","name":"I08 AI02"},{"addr":"DB1,X1025.0","name":"I09"},{"addr":"DB1,X1025.1","name":"I10"},{"addr":"DB1,X1025.2","name":"I11"},{"addr":"DB1,X1025.3","name":"I12"},{"addr":"DB1,X1025.4","name":"I13"},{"addr":"DB1,X1025.5","name":"I14"},{"addr":"DB1,X1025.6","name":"I15"},{"addr":"DB1,X1025.7","name":"I16"},{"addr":"DB1,X1026.0","name":"I17"},{"addr":"DB1,X1026.1","name":"I18"},{"addr":"DB1,X1026.2","name":"I19"},{"addr":"DB1,X1026.3","name":"I20"},{"addr":"DB1,X1026.4","name":"I21"},{"addr":"DB1,X1026.5","name":"I22"},{"addr":"DB1,X1026.6","name":"I23"},{"addr":"DB1,X1026.7","name":"I24"},{"addr":"DB1,INT1032","name":"AI01"},{"addr":"DB1,INT1034","name":"AI02"},{"addr":"DB1,INT1036","name":"AI03"},{"addr":"DB1,INT1038","name":"AI04"},{"addr":"DB1,INT1040","name":"AI06"},{"addr":"DB1,INT1042","name":"AI07"},{"addr":"DB1,INT1044","name":"AI08"},{"addr":"DB1,INT1046","name":"AI09"},{"addr":"DB1,INT1072","name":"AQ01"},{"addr":"DB1,INT1074","name":"AQ02"},{"addr":"DB1,INT1076","name":"AQ03"},{"addr":"DB1,INT1078","name":"AQ04"},{"addr":"DB1,INT1080","name":"AQ05"},{"addr":"DB1,INT1082","name":"AQ06"},{"addr":"DB1,INT1084","name":"AQ07"},{"addr":"DB1,INT1086","name":"AQ08"},{"addr":"DB1,INT1088","name":"AQ09"},{"addr":"DB1,X1104.0","name":"M01"},{"addr":"DB1,X1104.1","name":"M02"},{"addr":"DB1,X1104.2","name":"M03"},{"addr":"DB1,X1104.3","name":"M04"},{"addr":"DB1,X1104.4","name":"M05"},{"addr":"DB1,X1104.5","name":"M06"},{"addr":"DB1,X1104.6","name":"M07"},{"addr":"DB1,X1104.7","name":"M08 Start"},{"addr":"DB1,X1105.0","name":"M09"},{"addr":"DB1,X1105.1","name":"M10"},{"addr":"DB1,X1105.2","name":"M11"},{"addr":"DB1,X1105.3","name":"M12"},{"addr":"DB1,X1105.4","name":"M13"},{"addr":"DB1,X1105.5","name":"M14"},{"addr":"DB1,X1105.6","name":"M15"},{"addr":"DB1,X1105.7","name":"M16"},{"addr":"DB1,X1105.0","name":"M17"},{"addr":"DB1,X1105.1","name":"M18"},{"addr":"DB1,X1105.2","name":"M19"},{"addr":"DB1,X1105.3","name":"M20"},{"addr":"DB1,X1105.4","name":"M21"},{"addr":"DB1,X1105.5","name":"M22"},{"addr":"DB1,X1105.6","name":"M23"},{"addr":"DB1,X1105.7","name":"M24"},{"addr":"DB1,X1106.0","name":"M25 LOGO Screen White"},{"addr":"DB1,X1106.1","name":"M26 TDE Screen White"},{"addr":"DB1,X1106.2","name":"M27 CharSet"},{"addr":"DB1,X1106.3","name":"M28 LOGO Screen Orange"},{"addr":"DB1,X1106.4","name":"M29 LOGO Screen Red"},{"addr":"DB1,X1106.5","name":"M30 TDE Screen Orange"},{"addr":"DB1,X1106.6","name":"M31 TDE Screen Red"},{"addr":"DB1,X1106.7","name":"M32"},{"addr":"DB1,X1106.0","name":"M33...64"},{"addr":"DB1,INT1118","name":"AM1"},{"addr":"DB1,INT1120","name":"AM2"},{"addr":"DB1,INT1122","name":"AM3"},{"addr":"DB1,INT1124","name":"AM4"},{"addr":"DB1,INT1126","name":"AM5...64"},{"addr":"DB1,X1246.0","name":"NI1"},{"addr":"DB1,X1246.1","name":"NI1..64"},{"addr":"DB1,X1390.0","name":"NQ1"},{"addr":"DB1,X1390.1","name":"NQ1..64"},{"addr":"DB1,INT1262","name":"NAI1"},{"addr":"DB1,INT1264","name":"NAI1...64"},{"addr":"DB1,INT1406","name":"NAQ1"},{"addr":"DB1,INT1408","name":"NAQ2...64"}]},{"id":"191bffa.00401","type":"server","name":"Home Assistant","addon":true}]
